/*********  Resets  *********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: 'Times New Roman', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/********** App Launch Screen   *********/

.splash{
    /*position: fixed;
    top: 0;
    left: 0;*/
    width: 100vw;
    height: 100vh;
    background-image: url("images/splash-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}
.splash.display-none{
    position: fixed;
    top: 0;
    left: 0;
    opacity:0;
    width: 100%;
    height: 100vh;
    background-image: url("images/splash-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
    transition: all 0.5s;
}

/************ Card ***********/
.container{
    max-width: 400px;
    border-radius: 20px;
}

.card{
    border-radius: 20px;
    height: 600px;
    border: none;
    overflow: hidden;
    box-shadow: 0 5px 8px #414141;
    z-index:0;
    box-sizing: border-box;
}
.myhead img{
    width: 100px;
}

.login{
    font-size: 13px;
}

.far{
    font-size: 15px;
}

.fas{
    padding: 18px;
    background: #fff;
    /*border: 1px solid #0084ff;*/
    border-radius:50% ;
    color:#0084ff;
    /*color: rgba(53, 175, 231, 0.5);*/
    /*box-shadow: 0px 0px 8px #0084ff;*/
    box-shadow: 0 0 10px rgba(53, 175, 231, 0.5);
    
}

.input-icons{
    position: relative;
}

.input-icons i{
    position: absolute;
    left:-10px;
    top:-10px;
}


/*********** Input Fields  *********/
.myInput{
    width: 220px;
    padding: 5px 0;
    padding-left: 60px;
    border-radius: 25px;
    border:none;
    background: #fff;
    color: black;
    display: block;
    outline: none;
    /*box-shadow: 0px 0px 20px #0084ff;*/
    box-shadow: 2px 2px 10px rgba(53, 175, 231, 0.5);
}

.myInput::placeholder{
    font-size: smaller;
    font-weight: 700;
    /*color:rgba(8, 8, 8, 0.726);*/
    color:black;
    opacity: 0.6;
}

.input:focus{
    border: none;
    outline: none;
}
/************** Buttons  ************/
.button{
    width: 150px;
    border-radius: 25px;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    background: #0084ff;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(53, 175, 231, 0.5);
}

.social-icons{
    /*box-shadow: 0 0 10px 0 rgb(176, 196, 223);*/
    box-shadow: 1px 1px 5px rgba(53, 175, 231, 0.5);
}

.back-arrow{
    /*color:#258dee;*/
    color:rgb(69, 195, 233);
    font-size:30px;
    position:absolute;
    left:30px;
    top:5px;
}





/************** Media Queries ******************/
@media (max-width:600px){
    .container{
        max-width:100%;
    }
}