/*********  Resets  *********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: 'Times New Roman', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/********** App Launch Screen   *********/

.splash{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("images/modified.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}
.splash.display-none{
    opacity:0;
    min-width: 100%;
    min-height: 100vh;
    background-image: url("images/modified.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    transition: all 0.5s;
}

/************ Card ***********/
.container{
    max-width: 500px;
    border-radius: 20px;
}

.card{
    border-radius: 20px;
    height: 600px;
    border: none;
    overflow: hidden;
    box-shadow: 0 5px 8px #414141;
    z-index:0;
    box-sizing: border-box;
}
.myhead img{
    width: 100px;
}

.welcome{
    font-size: 22px;
}

.login{
    font-size: 13px;
}

.form-group .bi{
    font-weight: 100;
    width: 50px;
    height: 50px;
    font-size: 18px;
    padding:11px 5px 2px 5px;
    background: #fff;
    border-radius:50%;
    color:#55bbf7;
    box-shadow: 0 5px 15px rgba(73, 157, 235, 0.5);    
}

.input-icons{
    position: relative;
}

.input-icons i{
    position: absolute;
    left:-6px;
    top:-5px;
}


/*********** Input Fields  *********/
.myInput{
    margin:5px 0;
    width: 220px;
    padding: 4px 0;
    padding-left: 60px;
    border-radius: 25px;
    border:none;
    color: black;
    display: block;
    outline: none;
    box-shadow: 2px 2px 10px rgba(73, 157, 235, 0.5);  
}

.myInput::placeholder{
    font-size: smaller;
    font-weight: 700;
    color:black;
    opacity: 0.6;
}

/************** Buttons  ************/
.button{
    width: 120px;
    margin-bottom: 15px;
    border-radius: 25px;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    background: #0084ff;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(53, 175, 231, 0.5);
}

.button:hover{
    transform: scale(1.1);
}

.social-btns-group{
    width: 250px;
}

.social-btns{
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(53, 175, 231, 0.5);
    width: 55px;
}

.social-btns:hover{
    transform: scale(1.1);
}

.social-icons{
    width:25px;
    box-sizing: border-box;
}

.back-arrow{
    cursor: pointer;
    color:rgb(101, 183, 238);
    font-size:30px;
    position:absolute;
    left:30px;
    top:5px;
}

.back-arrow:hover{
    transform: scale(1.2);
}




/************** Media Queries ******************/
@media (max-width:600px){
    .container{
        max-width:100%;
    }
}